h1{
    color:blue;
    font-size: 50px;
    text-align: center;
}
h2{
  color: black;
  text-align: center;
}
p{
  text-align: justify;
  margin: 20px;
}
nav{
    background-color: grey;
    text-align: center;
    word-spacing: 20px;
}
body{
  background: linear-gradient(to right, #242F49, #384358, #ffa586, #B51A2B, #26425A, #E1CBD7, #AE445A, #1D1A39);
}
img {
    border: 5px solid white;
    height: 900px;
    width: 900px;
  }
  .box {
    border: 5px solid darkblue;
    width: 300px;
    margin: 10%;
    padding: 10%; 

  }
  .header-nav {
    overflow: hidden;
    background-color: var(--bg-header);
    -webkit-box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
    box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
img {
  width: 100%;
  height: auto; /* mantiene la proporción de aspecto original */
  object-fit: cover; /* o "contain", "fill", "none", etc. */
}
header {
  background: linear-gradient(to right, #008c45, #ffffff, #d2232c); /* color de fondo opcional para el encabezado */
  text-align: center;
}

.logo-container {
  display: inline-block;
  margin: 20px auto; /* ajusta los márgenes superiores e inferiores según sea necesario */
}

.logo-container img {
  max-width: 20%; /* ajusta el tamaño máximo del logo */
}
.card-container {
  display: flex;
  justify-content: space-between; /* Distribuye las tarjetas horizontalmente con espacio entre ellas */
}

.card {
  flex-basis: calc(33.33% - 10px); /* Ajusta el ancho de cada tarjeta */
  /* Añade otros estilos para la apariencia de la tarjeta */
  border-style: solid;
  background-color: #dfb6b2;
  border: dotted;
}
footer {
  background-color: #6c6c6c;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}
.form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  margin-right: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff7f50;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #ff6347;
}
.menu {
  max-width: 600px;
  margin: 0 auto;
}

.pizza {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #E1CBD7;
}

.pizza h2 {
  margin-top: 0;
}

.pizza p {
  margin-bottom: 10px;
}

.pizza img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.map-box {
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #242F49;
  border-radius: 10px;
  overflow: hidden;
}