//Variables
$color-azul: #3933FF;
h1{
    color: $color-azul;
    font-size: 50px;
    text-align: center;
}
h2{
  color: black;
  text-align: center;
}
p{
  text-align: justify-center;
  margin: 100px;
}
nav{
    background-color: #d7c879;
    text-align: center;
    word-spacing: 20px;
}
a{
    font-size: 20px
}
body{
    background-image: url(../multimedia/img/back.jpg);
    background-repeat: repeat;
  }
img {
    border: 5px solid white;
    height: 900px;
    width: 900px;
  }
  .box {
    border: 5px solid darkblue;
    width: 300px;
    margin: 10%;
    padding: 10%; 

  }
  .header-nav {
    overflow: hidden;
    background-color: #d7c879;
    -webkit-box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
    -moz-box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
    box-shadow: 0px 2px 5px 0px rgba(100, 100, 100, 1);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}
img {
  width: 100%;
  height: auto; /* mantiene la proporción de aspecto original */
  object-fit: cover; /* o "contain", "fill", "none", etc. */
}
header {
  background: linear-gradient(to right, #008c45, #ffffff, #d2232c); /* color de fondo opcional para el encabezado */
  text-align: center;
}

.logo-container {
  display: inline-block;
  margin: 20px auto; /* ajusta los márgenes superiores e inferiores según sea necesario */
}

.logo-container img {
  max-width: 20%; /* ajusta el tamaño máximo del logo */
}
.card-container {
  display: flex;
  justify-content: space-between; /* Distribuye las tarjetas horizontalmente con espacio entre ellas */
}

.card {
  flex-basis: calc(40.33% - 100px); /* Ajusta el ancho de cada tarjeta */
  /* Añade otros estilos para la apariencia de la tarjeta */
  border-style: solid;
  background-color: #dfb6b2;
  border: dotted;
}
footer {
  background-color: #6c6c6c;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 800px;
  margin: 0 auto;
}
.form {
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 10px;
}

.form h2 {
  text-align: center;
  margin-bottom: 20px;
}

.form-group {
  margin-bottom: 20px;
  margin-right: 20px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #ff7f50;
  color: #fff;
  text-align: center;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button:hover {
  background-color: #ff6347;
}
@media(min-width: 1024px){
  .menu {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-column-gap: 10px;
  }
}
@media(max-width: 760px){
  .menu {
    max-width: 600px;
    margin: 0 auto;
  }
}
.pizza {
  margin-bottom: 10px;
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 5px;
  background-color: #E1CBD7;
}

.pizza {
  h2 {
    margin-top: 0;
  }

  p {
    margin-bottom: 10px;
  }

 img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
  }
}
.map-box {
  max-width: 600px;
  margin: 0 auto;
  border: 2px solid #242F49;
  border-radius: 10px;
  overflow: hidden;
}
.layout {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 10px;
}

.span12 { 
  max-width: 100%;
  max-height: 100%
}
.span6 { 
  max-width: 100%;
  max-height: 100%
}
.span3 {
  max-width: 100%;
  max-height: 100%
}
.span1 {
  max-width: 100%;
  max-height: 100%
}



.area{
  text-align:center;
  font-size:6.5em;
  color:#fff;
  letter-spacing: -7px;
  font-weight:700;
  text-transform:uppercase;
  animation:blur .75s ease-out infinite;
  text-shadow:0px 0px 5px #fff,
      0px 0px 7px #fff;
}

@keyframes blur{
  from{
      text-shadow:0px 0px 10px #fff,
      0px 0px 10px #fff, 
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 25px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #fff,
      0px 0px 50px #7B96B8,
      0px 0px 150px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px 10px 100px #7B96B8,
      0px -10px 100px #7B96B8,
      0px -10px 100px #7B96B8;}
}
